Package: com.sst1337.nemerov
Name: Nemerov
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: New animations when taking a screenshot!
Maintainer: sst1337 <1337sst@gmail.com>
Author: sst1337
Section: Tweaks
